---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("posts");
---

<BaseLayout title="Blog">
  <p>blog page</p>
  <ul>
    {
      blogPosts.map((post) => {
        return (
          <li>
            <a href={`/posts/${post.slug}`}>
              <h1>{post.id}</h1>
            </a>
          </li>
        );
      })
    }
  </ul>
  <pre>{JSON.stringify(blogPosts, null, 2)}</pre>
</BaseLayout>
