---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "@components/Navbar.astro";
---

<BaseLayout title="My first astro blog">
  <main class="container mx-auto my-0">
    <Navbar />
  </main>
</BaseLayout>
